mlflow>=2.12
pandas
numpy
scikit-learn
xgboost==2.0.3
lightgbm
imbalanced-learn
category-encoders
shap==0.44.1
evidently
fastapi
uvicorn[standard]
prometheus-fastapi-instrumentator
prometheus-client
joblib
pyyaml
matplotlib
seaborn
pytest
flake8